*{
margin: 0;
padding: 0;
box-sizing: border-box;
}
body{
font-family: 'Nunito Sans', sans-serif;
}
header{
background: #016170;
}
.list{
list-style: none;
display: flex;
justify-content: space-between;
}
.zero{
display: none;
}
.containe_R{
width: 1120px;
margin: auto;
display: flex;
justify-content: space-between;
align-items: center;
}
.li_a{
margin-left: 20px;
text-decoration: none;
font-weight: 600;
font-size: 16px;
color: grey;
}
.li_a:hover{
transition: 1s;
color: #FFFFFC;
}
.hr1{
/* height: 20px; */
color: white;
margin-top: 20px;
}
/*                navbar end              */
.digital-agency{
padding-top: 100px;
font-weight: 700;
font-size:70px;
color: #FFFFFC;
text-align: center;
margin: auto;
}
.we-text{
margin-top: 15px;
text-align: center;
font-weight: 400;
font-size: 18px;
color: #FFFFFC;
}
.tornadoP{
width: 65.28px;
height: 85.16px;
margin: auto;
margin-left: 70px;
margin-bottom: 40px;
}
.you-text{
color: #020E10;
font-weight: 700;
font-size: 40px;
}
.tornadoC{
margin-top: 0px;
text-align: center;
}
.while{
padding-top: 20px;
padding-bottom: 40px;
text-align: center;
}
/*                     section1               */
main{
background: #EBE2D9;
}
.nav1{
padding-top: 20px;
}
.content-text{
font-weight: 700;
font-size: 24px;
color: #020E10;
}
.minim-text{
font-weight: 400;
font-size: 14px;
color: #020E10;
}
.seoCard{
width: 500px;
display: flex;
}
.seoCard-1{
padding: 20px;
border: 1px solid grey;
}
.pro-text{
font-weight: 400;
font-size: 18px;
color: #020E10;
}
.key{
width: 1120px;
margin: auto;
padding-top: 50px;
padding-bottom: 50px;
display: flex;
justify-content: space-around;
}
/*               seciton2              */
.section2{
background: #020E10;
}
.num-text{
font-weight: 700;
font-size: 60px;
color: #FFFFFC;
}
.client-text{
font-weight: 400;
font-size: 18px;
color: #FFFFFC;
}
.hr2{
background: #FFFFFC;
height: 3px;
}
.key2{
width: 200px;
}   
/*                  seciton3            */
.workC{
padding-top: 100px;
padding-bottom: 40px;
width: 1120px;
margin: auto;
}
.work-text{
font-weight: 700;
font-size: 48px;
color: #020E10;
}
.yelloC{
padding-top: 550px;
display: flex;
justify-content: space-around;
align-items: center;
}
.category-text{
font-weight: 400;
font-size: 16px;
color: #020E10;
text-decoration: none;
}
.yello-text{
font-weight: 700;
font-size: 24px;
color: #020E10;
}
.workC2{
display: flex;
}
.artP , .artP2{
width: 400px;
height: 300px;
}
.yelloC-2{
margin-left: 40px;
}
.photoC-4{
top: -50px;
position: relative;
display: flex;
align-items: center;
justify-content: space-around;
}
.artP2{
margin-top: 30px;
}
.arrow-right{
text-align: end;
}
/*  */
.section12{
display: none;
}
/*            seciton4    */
.people-text{
padding-top: 80px;
padding-bottom: 50px;
font-weight: 700;
font-size: 48px;
color: #FFFFFC;
}
.section4{
background: #016170;
}
.peopleCard{
width: 1120px;
margin: auto;
padding-bottom: 50px;
}
.jeromeCard2{
display: flex;
}
.jeromeCard3{
margin-top: 20px;
padding-left: 10px;
}
.bell-text{
font-weight: 700;
font-size: 18px;
color: #FFFFFC;
line-height: 5px;
}
.desic-text{
font-weight: 400;
font-size: 14px;
color: grey;
}
.jeromeCard{
padding: 20px;
margin: 20px;
width: 300px;
}
.jeromeCard:hover{
transition: 1s;
background-color: black;
}
.offic-text{
font-weight: 400;
font-size: 14px;
color: #FFFFFC;
}
.jeromC{
display: flex;
justify-content: space-between;
}
.jeromeC2{
display: none;
}
/*              section5          */
.see-text{
padding-top: 50px;
font-weight: 700;
font-size: 48px;
color: #020E10;
}
/*            footer         */
footer{
background: #020E10;
}
.logotips{
display: flex;
justify-content: space-around;
margin-top: 50px;
}
.night{
font-size: 20px;
color: white;
}
.photoF{
    padding-top: 50px;   
margin-bottom: 50px;
}
.copy-text{
font-weight: 400;
font-size: 14px;
color: #FFFFFC;
line-height: 1px;
}
.company-text{
font-weight: 600;
font-size: 20px;
color: #FFFFFC;
}
.companyC{
padding-top: 50px;
}
.blog-text{
font-weight: 400;
font-size: 16px;
color: #FFFFFC;
}
.tele{
position: relative;
right: 40px;
}
.name{
background-color: black;
color: white;
outline: none;
/* border: none; */
}
.up-text{
font-weight: 600;
font-size: 20px;
color: #FFFFFC; 
}
.kompC2{
margin-top: 50px;
display: flex;
width: 550px;
align-items: center;
justify-content: space-around;
}
.kompC3{
padding-left: 20px;
}
.twenty-text{
font-weight: 600;
font-size: 14px;
}
.tip-text{
font-weight: 700;
font-size: 22px;
}
.long-text{
font-weight: 600;
font-size: 14px;
}
.read-text{
text-decoration: none;
font-weight: 700;
font-size: 16px;
color: #016170;
}
.read-text2{
    text-decoration: none;
    font-weight: 700;
    font-size: 16px;
    color: #020E10;
    }
.hold{
padding-top: 50px;
padding-bottom: 50px;
text-align: center;
}
@media (max-width:575px) {
body{
width: 100%;
}
.seoCard1{
width: 100%;
}

.list{
display: none;
}
.digital-agency {
padding-top: 100px;
width: 100%;
font-weight: 700;
font-size: 31px;
color: #FFFFFC;
text-align: center;
margin: auto;
}
.section12{
display: block;
}
.section1{
display:  none;
}
.tornadoP{
margin-top: 20px;   
width: 20%;
}
/*      nav bootstrap            */
.zero{
display: block;
width: 100%;
}
.container-fluid{
background-color: #016170;
}
.navbar-toggler{
background-color: #FFFFFC;
border: none;
outline: none;

}
.nav1{
display: none;
}
.while{
width: 39%;
}
/*               */
.containe_R{
width: 100%;
}
.seoCard-1{
margin: 20px;

}
.seoCard{
/* display: inline; */
flex-wrap: wrap;
width: 50%;
}
/* .you-text {
color: #020E10;
font-weight: 700;
font-size: 31px;
width: 100%;
margin: auto;
} */
.you-text{
font-family: 'Wagon';
font-style: normal;
font-weight: 700;
font-size: 32px;
line-height: 48px;
/* or 150% */
display: flex;
align-items: center;
letter-spacing: 0.02em;
/* Secondary */
color: #020E10;
}
.minim-text {
font-weight: 400;
font-size: 13px;
color: #020E10;
}
.content-text {
font-weight: 700;
font-size: 18px;
color: #020E10;
}
/* .pro-text {
font-weight: 400;
font-size: 16px;
color: #020E10;
} */
.pro-text{
font-family: 'Nunito Sans';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 24px;
color: #020E10;
}
.arrowP{
width: 50%;
}
/*         section2       */
.key{
display: block;
text-align: center;
width: 100%;
}

/*        section3       */
.yelloC-2{
margin-left: 0;
display: block;
text-align: center;
}
.artP2{
margin-top: 0;
display: none;
}
.artP {
width: 90%;
height: 100%;
}
.photoC{
display: none;
}
.workC{
width: 100%;
}
.arrow-right{
margin: 30px;
text-align: center;
}
.arrowRight{
width: 50%;
}
.arrowC{
padding-top: 20px;
padding-bottom: 30px;
text-align: center;
}
.num-text {
margin-top: 34px;
font-weight: 700;
font-size: 30px;
color: #FFFFFC;
font-family: 'Wagon';
font-style: normal;
}
.key2 {
width: 200px;
margin: auto;
}
.client-text {
font-weight: 400;
font-size: 14px;
color: #FFFFFC;
}
.work-text {
font-family: 'Wagon';
font-style: normal;
font-weight: 700;
font-size: 32px;
color: #020E10;
}
.jeromC{
display: none;
}
.jeromeC2{
display: block;
padding-bottom: 40px;
}
.jeromeCard{
width: 100%;
margin: auto;
}
.peopleCard{
width: 100%;
}
.people-text {
padding-top: 80px;
padding-bottom: 50px;
font-weight: 700;
font-size: 33px;
color: #FFFFFC;
}
/*          footer          */
.nout{
display: block;
}
.companyC{
text-align: center;
}
.night{
margin-left: 20px;
}
.logotips{
justify-content: start;
}
.name{
width: 90%;
}
.free{
text-align: center;
padding-bottom: 50px;
}
/*                  section5       */
.kompC2{
padding-top: 50px;
display: block;
width: 90%;
margin: auto;
}
.human{
display: block;
}
.kompC3{
padding-left: 0;
}
.long-text{
font-size: 17px;
}
.micro{
width: 100%;
}
}
